* {
    box-sizing: border-box;
    overflow: auto;
}

body {
    display: flex;
    margin: auto;
    justify-content: center;
}

.div-dimension {
    justify-content: center;
    text-align: center;
}

p.dimension-text {
    font-size: small;
    margin-left: 1vh;
    margin-top: 20vh;
}

button.reset-button {
    width: 80%;
    margin-left: 3vh;
    margin-top: 3vh;
}

button.submit-dimension {
    margin-top: 2vh;
    margin-left: 1vh;
}

div.side {
    display: flex;
    flex-direction: column;
}

input {
    height: 3vh;
    margin-left: 1vh;
}

img {
    width: 45px;
    height: 45px;
    min-width: 8vh;
    min-height: 8vh;
}

.control_panel_1,
.control_panel_2 {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 600px;
    margin-top: 15vh;
    background-color: white;
    border: 1px solid black;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.control_panel_1 {
    margin-left: 5vh;
}

.control_panel_2 {
    margin-left: 5vh;
    margin-right: 5vh;
}

div.grid_container {
    flex-direction: row;
    display: flex;
    max-width: 700px;
    height: auto;
    margin-top: 50px;
    margin-left: 50px;
    flex-wrap: wrap;
    flex: 1;
    margin-right: 20px;
}
